<script type="text/javascript">
<% if logged_in? %>
  window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
  <% end %>
</script>

<!-- <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script>
SC.initialize({
  client_id: '5a1712b7f2d1f7ec5ec2bf4c2a55541a'
});

// stream track id 293
SC.stream('/tracks/293').then(function(player){
  player.play();
});
</script> -->

<div id="root">DOM ain't loading</div>
