figure.song-detail-index {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding-top: 2%;
  height: 100%;

  /*background-color: #333333;*/
  /*background-color: #212121;*/
  /*background: #F5F5F5;*/
  background: #FFFFFF;
  /*background-color: #111111;*/
  /*background-color: #1A1E1F;*/
}

span.song-detail-item {
  display: flex;
  flex-direction: row;
  border: 2px solid green;
}

section.song {
  border: 2px solid orange;
}

div.songInfo {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  height: 250px;
  padding: 5px;
}

span.song-detail-item img.albumPic {
  width: 250px;
  margin: 20px;
}

figure.AudioGraph {
  padding: 10px;
  height: 250px;
  /*border: 2px solid orange;*/
  width: 100%;
  margin: 0px 4%;
}

/*PLAY BUTTON (ALBUM IMAGE)*/
.albumThumb {
  position: relative;
  /*width: 400px;*/
  /*height: 200px;*/
}

.albumThumb a {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}

.albumThumb a .play, .albumThumb a .overlay {
  opacity: 0;
}

.albumThumb a:hover .play, .albumThumb a:hover .overlay {
  display: block;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.albumThumb a:hover .play {
  position: relative;
  font-size: 64px;
  color: #ffffff;
  margin-top: 60px;
  z-index: 1000;
  opacity: 1;
  left: 33%;
}

.albumThumb a:hover .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .7;
  border-radius: 5px;
}
/*END PLAY BUTTON ALBUM IMAGE*/
