ul.songIndex {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0 auto -30px;
}

.songIndex figure {
  display: flex;
  border: 1px solid black;
}

.songIndex img {
  max-width: 160px;
  max-height: 160px;
  min-width: 160px;
  min-height: 160px;
  padding: 10px 0px 30px 5px;
}

.songIndex section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  padding-bottom: 0px;
}

.song div {
  border: 1px solid red;
  height: 80%;
  display: flex;
}

.song .play-button {
  width: 90px;
}

.song ul {
  display: flex;
  border: 1px solid green;
  flex-direction: column;
}

ul.song-info {
  width: 70%;
}

ul.song-button-feats {
  display: flex;
  flex-direction: row;
  border: 1px solid yellow;
  margin: 10px;
  margin-bottom: 0px;
  width: 50%;
}

ul.song-button-feats li {
  width: 30%;
  border: 1px solid aqua;
}

.song ul li {
  width: 35%;
  height: 75%;
}

div.push {
  height: 30px;
}

audio {
  height: 30px;
  width: 100%;
  position: fixed;
}
